@use "./variable.scss";
@use "./sidebar.scss";
@use "./navbar.scss";
@use "./navbar-profile.scss";
@use "./media-management/maturity-ratings.scss";
@use "./media-management/manage-maturity-ratings.scss";
@use "./media-management/advertisements.scss";
@use "./media-management/manage-advertisements.scss";
@use "./components/common-table.scss";
@use "./components/popover.scss";
body {
  font-family: "Roboto", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
  background-color: var(--bs-page-bg);
  overflow-x: hidden;
}
