:root {
  --bs-primary: #ea6a12;
  --bs-secondary: #6c757d;
  --bs-success: #28a745;
  --bs-primary-green: #4caf50;
  --bs-success-bg: #e6f9ea;
  --bs-success-border: #b7eb8f;
  --bs-info: #17a2b8;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-primary-red: #e53935;
  --bs-primary-hover-red: #ff7e31;
  --bs-error-bg: #fff1f0;
  --bs-error-border: #ffa39e;
  --bs-light: #f8f9fa;
  --bs-dark: #343a40;
  --bs-white: #ffffff;
  --bs-black: #000000;
  --bs-border-color: #232b36;
  --bs-page-bg: #000e17;
  --bs-secondary-bg: #181f29;
  --bs-header-bg: #232b36;
  --bs-primary-orange: #ff9800;
  --bs-white: #ffffff;
  --bs-gray: #ccc;
}
